* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section {
  margin: 40px 0;
}
.wrapper {
  width: 90%;
  margin: auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
i:hover {
  cursor: pointer;
}
.btn {
  background-color: black;
  color: white;
  padding: 12px;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: bold;
}
.btn:hover {
  cursor: pointer;
  background-color: rgb(48, 47, 47);
}
img {
  width: 100%;
  height: 100%;
}
/* Header */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header {
  font-size: 0.8rem;
}
.logo {
  width: 137px;
  height: 74px;
}
header ul {
  display: flex;
  gap: 20px;
}
.header-icons {
  margin-right: 10px;
}
i {
  font-size: 1.2rem;
}
/* Navbar */
.main-navbar {
  flex: 1;
  margin-left: 40px;
  height: 10px;
}
.main-navbar a {
  padding-bottom: 3px;
}
.main-navbar a:hover {
  border-bottom: 2px solid black;
}
/* Showcase */

.showcase-container {
  height: 474px;
  background-image: url("https://cdn.pixabay.com/photo/2017/08/01/00/38/man-2562325_1280.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.showcase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 20px;
  height: 100%;
  padding: 60px;
}
.fa-chevron-right {
  font-size: 0.9rem;
  padding: 4px;
}
.showcase-content .btn {
  margin-right: 110px;
}

/* card-section */

.card-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 90%;
  margin: 40px auto;
  gap: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  gap: 10px;
  text-align: center;
}
.card:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px 1px;
}
.card p:hover {
  text-decoration: underline;
}
.card-icon {
  font-size: 3rem;
}
.card-section p {
  font-size: 0.9rem;
  font-weight: bold;
}

/* second-card */
.second-card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}
.card-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55%;
  padding: 10px;
  gap: 10px;
}
.second-card img {
  height: 150px;
}
.second-card a {
  color: #0067b8;
  padding: 6px;
}
.second-card a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.second-card h2 {
  font-size: 1.2rem;
}
/* Second showcase */

.second-showcase-container {
  background-image: url("https://cdn.pixabay.com/photo/2016/11/29/09/08/headphone-1868615_1280.jpg");
}
.second-showcase-content {
  justify-content: end;
  margin: auto 50%;
  text-align: left;
}

/* follow us */
.follow-us h3 {
  font-size: 0.9rem;
  color: rgb(85, 85, 85);
}
.follow-us {
  display: flex;
  align-items: center;
  gap: 15px;
}
.follow-us i {
  font-size: 1.5rem;
}

/* footer */
footer {
  background-color: rgb(243, 243, 243);
  height: 250px;
}
.footer-flex {
  display: flex;
  justify-content: space-evenly;
}
.footer-content {
  height: 100%;
}
footer li {
  font-size: 0.7rem;
  margin: 10px 0;
}
.last-list ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  background-color: rgb(243, 243, 243);
}
footer li:hover {
  cursor: pointer;
  text-decoration: underline;
}
